mixin tags(...items)
  .project__tags
    each item in items
      span ##{item}

mixin sectionHeader(text)
  .is-flex
    hr.rule--short
    h1.content__header #{text}
    hr.rule
    
mixin sectionHead(title)
  .is-flex
    h2.section__title #{title}
    hr.section__rule.flex

mixin navLinks(...links)
  each link in links
    a.navbar__list-item.link(href="#" + link.toLowerCase()) #{link}
  a.navbar__list-item--special(href="/resume") RESUMÉ

<!-- #{comment} -->
doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
      title Chanse Taylor's Home Page
      link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .wrapper
      header.header
        block header
      block content
      block footer
        footer#contact.footer.is-flex
          .footer__credit
            p Webpage developed and designed by Chanse Taylor!
          .footer__contact.is-flex
            a.footer__link.link(href="https://github.com/ChanseNTaylor") GitHub
            a.footer__link.link(href="mailto:chansen.taylor@gmail.com") Gmail
